  <head><meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"></head><body>  <div class="container text-center row" id="event">
      <div class="card col-md">
      <img class="card-img-top" src="/images/sv.jpg" alt="image">
      <div class="card-block">
       <h4 class="card-title">Get Out of the building(GOOTB)</h4>
       <p class="card-text">
      Build the right product. Build the products right. One day workshop for Developers, Makers, Product Geeks & Entrepreneurs.</br><a href="/users/talk-session">Learn more</a>
       </p>
       <div id="box">
         <div>Registration closed</div>
       </div><!--{{#if user}}
       <form action="/users/events" method="post">
    <button class="btn1" name="foo" value="session">Register</button>
       </form>
       {{else}}
       <form action="/users/events" method="post">
    <button name="foo" value="session">Register</button>
       </form>
       {{/if}}-->
      </div>
      </div>
      <div class="card col-md">
      <img class="card-img-top" src="/images/ba.jpg" alt="image">
      <div class="card-block">
       <h4 class="card-title">Ethical Hacking workshop</h4>
       <p class="card-text">
         Learn how to use the latest penetration tools from the hands on workshop handled by experts. </br><a href="/users/ethical_hacking">Learn more</a>
       </p>
       <div id="box">
         <div>Registration closed</div>
       </div><!--{{#if user}}
       <form action="/users/events" method="post">
    <button class="btn1" name="foo" value="ethical_hacking">Register</button>
       </form>
       {{else}}
       <form action="/users/events" method="post">
    <button name="foo" value="business_analytics">Register</button>
       </form>
       {{/if}}-->
      </div>
    </div>

    <div class="card col-md text-center">
    <img class="card-img-top" src="/images/wearables.jpg" alt="image">
    <div class="card-block">
     <h4 class="card-title">Wearables workshop</h4>
     <p class="card-text">
      Dive deep into how things work in the world of wearables. A two day hands on workshop on Wearable technology. </br><a href="/users/wearables">Learn more</a>
     </p>
     <div id="box">
       <div>Registration closed</div>
     </div><!-- {{#if user}}
     <form action="/users/events" method="post">
  <button class="btn1" name="foo" value="wearables">Register</button>
     </form>
     {{else}}
     <form action="/users/events" method="post">
  <button name="foo" value="wearables">Register</button>
     </form>
     {{/if}}-->
    </div>
    </div>
    <div class="row">
      <div class="card col-md">
      <img class="card-img-top" src="/images/ML.png" alt="image">
      <div class="card-block">
        <h4 class="card-title">Machine Learning workshop</h4>
        <p class="card-text">
        Learn about machine learning, the algorithms and processes are used, and some of the many ways that machine learning is being used.</br><a href="/users/machine-learning">Learn more</a>
        </p>
{{#if user}}
        <form action="/users/events" method="post">
       <button class="btn1" name="foo" value="machine_learning">Register</button>
        </form>
        {{else}}
        <form action="/users/events" method="post">
     <button name="foo" value="machine_learning">Register</button>
        </form>
        {{/if}}
      </div>
     </div>
    <div class="card col-md">
    <img class="card-img-top" src="/images/paper-present.jpg" alt="image">
    <div class="card-block">
     <h4 class="card-title">Paper presentation</h4>
     <p class="card-text">
       Showcase your idea to a huge audience and a panel of experts, no matter what the
       topic is. </br><a href="/users/paper-presentation">Learn more</a>
     </p>
     <div id="box">
       <div>Registration closed</div>
     </div>
    </div>
    </div>
    <div class="card col-md">
    <img class="card-img-top" src="/images/lan.jpg" alt="image">
    <div class="card-block">
     <h4 class="card-title">Game Theory</h4>
     <p class="card-text">
      Gun them down, chase them down and win huge prizes. Showcase your gaming skills by battling with the best. <a href="/users/lan-gaming">Learn more</a>
     </p>
  <button onclick="location.href='/users/lan-gaming'">Register</button>
    </div>
    </div>
      </div>
      <div class="row">
    <div class="card col-md">
    <img class="card-img-top" src="/images/line-following-robot.jpg" alt="image">
    <div class="card-block">
     <h4 class="card-title">Line follower</h4>
     <p class="card-text">
      Give your robot the ability to stay on confusing tracks longer than other robo pals. Line follower contest ! </br><a href="/users/line-follower">Learn more</a>
     </p>
     {{#if user}}
     <form action="/users/events" method="post">
  <button class="btn1" name="foo" value="line_follower">Register</button>
     </form>
     {{else}}
     <form action="/users/events" method="post">
  <button name="foo" value="line_follower">Register</button>
     </form>
     {{/if}}
    </div>
    </div>
    <div class="card col-md">
    <img class="card-img-top" src="/images/Quiz.jpg" alt="image">
    <div class="card-block">
     <h4 class="card-title">Qriosity</h4>
     <p class="card-text">
       Unlock knowledge at the speed of thought. Furnish your knowledge winning huge prizes. Be ready, Be smart, Be noticed! </br><a href="/users/quiz">Learn more</a>
     </p>
     {{#if user}}
     <form action="/users/events" method="post">
  <button class="btn1" name="foo" value="quiz">Register</button>
     </form>
     {{else}}
     <form action="/users/events" method="post">
  <button name="foo" value="quiz">Register</button>
     </form>
     {{/if}}
    </div>
  </div>
    <div class="card col-md">
    <img class="card-img-top" src="/images/crime.jpg" alt="image">
    <div class="card-block"><h4 class="card-title">The Last Road</h4>
     <p class="card-text">
       There is a detective in every mind. Let's see if you have what it takes to stop the crime. Live thrilling investigation game! </br><a href="/users/crime-scene">Learn more</a>
     </p>
     <div id="box">
       <div>Registration closed</div>
     </div>
    </div>
    </div>
  </div>
</div>
<h3 class="text-center">More Attractions</h3>
<div class="container text-center row" id="event">
  <div class="card col-md">
  <img class="card-img-top" src="/images/sop.jpg" alt="image" style="max-width:280px;margin-left:auto;margin-right:auto;margin-top:25px;"></br>
   <h4 class="card-title">Star of Prominence</h4></br>
  </div>
  <div class="card col-md">
  <img class="card-img-top" src="/images/mpe.jpg" alt="image" style="max-width:280px;margin-left:auto;margin-right:auto;margin-top:25px;"></br>
   <h4 class="card-title">Project Exhibition</h4></br>
 </div>
  <div class="card col-md">
  <img class="card-img-top" src="/images/spotq.jpg" alt="image" style="max-width:280px;margin-left:auto;margin-right:auto;margin-top:25px;"></br>
   <h4 class="card-title">Spot quizzing</h4></br>
  </div>
<div class="card col-md" style="padding-top:13%;">
  <hr><h4 class="card-title text-center">Join us on Oct 13th to find more surprises that awaits you!!</h4><hr></br>
</div></div>
    </div>
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Prominence<span>'17</span></h3>

        <p class="footer-company-name">Prominence &copy; 2017</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Rajiv Gandhi Institute Of Technology</span> Pampady, Kottayam</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 7025321381</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="#s">prominencerit@gmail.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <div class="footer-icons">

          <a href="https://www.facebook.com/prominencerit"><i class="fa fa-facebook"></i></a>
          <a href="https://www.twitter.com/prominencerit"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/prominencerit"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.github.com/rohithrajasekharan/prominence"><i class="fa fa-github"></i></a>

        </div>

      </div>
  <div class="footer-center text-center author"><p style="font-size:.6em;">Designed & Developed by Rohith Rajasekharan</p></div>
    </footer>
<script>
$('.btn1').on('click',function (e, params) {
  var localParams = params || {};

    if (!localParams.send) {
        e.preventDefault();
    }

       //additional input validations can be done hear

swal({
            title: "Confirm entry",
            text: "Confirm Registration as {{user.firstName}} {{user.lastName}}",
            type: "success",
            showCancelButton: true,
            confirmButtonColor: "#6A9944",
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel",
            closeOnConfirm: true
        }, function (isConfirm) {
            if (isConfirm) {
                $(e.currentTarget).trigger(e.type, { 'send': true });
            } else {

          //additional run on cancel  functions can be done hear

        }
    });
});
</script>
</body>
